.divClass h1{
    color:rgb(112, 144, 204);
    }
    
    .divClass #spanid{
        font-size: 18px;
        margin: 50px;
    }
    
     #trirddiv {
        height: 600px;
        width: 500px;
        background-color: blue; 
        padding: 50px;
        border: 5px crimson;
     }
    
     #trirddiv ul li img{
         width: 400px;
     }  
